@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Otomanopee+One&family=Work+Sans:wght@600&display=swap");

html,
body {
  background: #222121;
  color: #fff;
  font-family: "Otomanopee One", sans-serif;
  height: 100%;
}
