.CanteenView {
  margin: auto;
  text-align: center;
}

.order-message,
.tomorrow {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.tomorrow {
  color: #e9740e;
}

.table {
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}

th {
  position: relative;
}

.foodicon {
  display: block;
  border: solid 6px;
  border-radius: 50%;
  margin: auto;
  width: 100px;
}

.meat {
  border-color: #ca4246;
}

.veg {
  border-color: #4cbf5d;
}

.fish {
  border-color: #5383e9;
}

.noDinner {
  border-color: #d2e367;
}

.schoolclass {
  background-color: #42ba78;
  font-size: 1.5rem;
  color: black;
}

.classRow:nth-of-type(2n) {
  background-color: #854345;
}
.classRow:nth-of-type(2n-1) {
  background-color: #9a4e4e;
}

.totalRow {
  background-color: #0cc25e;
  color: black;
  font-size: 1.2rem;
}

.totalRow > td:first-of-type {
  border-radius: 12px 0 0 0;
}

.totalRow > td:last-of-type {
  border-radius: 0 12px 0 0;
}

td {
  padding: 0.5rem 0;
}

.classRow > td:hover {
  animation: glowHover 0.5s forwards;
}

input {
  width: 100%;
}

.reset-button {
  background-color: #d2e367;
  border: 0;
  border-radius: 0 0 12px 12px;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  width: 90%;
}

.reset-button:hover {
  animation: resetButtonHover 0.5s forwards;
}

@keyframes resetButtonHover {
  to {
    background-color: #d7d71e;
  }
}
