.TeacherView {
  margin: auto;
  text-align: center;
}

.order-message,
.tomorrow {
  display: inline-block;
  font-size: 1.5rem;
}

.tomorrow {
  color: #e9740e;
}

.table {
  border-collapse: collapse;
  margin: auto;
  width: 90%;
}

th {
  position: relative;
  left: 1.5rem;
  padding-right: 3em;
}

.foodicon {
  display: block;
  border: solid 6px;
  border-radius: 50%;
  margin: auto;
  width: 50%;
}

.meat {
  border-color: #ca4246;
}

.veg {
  border-color: #4cbf5d;
}

.fish {
  border-color: #5383e9;
}

.noDinner {
  border-color: #d2e367;
}

.childRow:nth-of-type(2n) {
  background-color: #854345;
}
.childRow:nth-of-type(2n-1) {
  background-color: #9a4e4e;
}

td {
  padding: 0.5rem 0;
}

input {
  width: 100%;
}

.order-form-button {
  background-color: #42ba78;
  border: 0;
  border-radius: 0 0 12px 12px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  width: 90%;
}
